<div class="endereco-container">
  <h2>Nosso Endereço</h2>
  <p>
    Rua Roberto Nazareth, 213<br>
    Jardim Meriti, RJ
  </p>
  <div class="mapa-container">
    <iframe
      title="Mapa Localização"
      width="100%"
      height="300"
      frameborder="0"
      style="border:0"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps?q=Rua+Roberto+Nazareth,+213,+Jardim+Meriti,+RJ&output=embed">
    </iframe>
  </div>
</div>
