<footer class="footer">
  <div class="footer-content">
    <span>© {{ anoAtual }} EMAC • Todos os direitos reservados. CNPJ 60.581.153/0001-00</span>
    Rua: Roberto de Nazareth,213 - Jardim Meriti, São João de Meriti, CEP: 25520-000 - RJ<br>
    <span class="footer-links">
      Designer by Fabio Luiz 
      <a href="https://instagram.com/binhorodriguesl" target="_blank" rel="noopener noreferrer" class="instagram-link">
        <i class="fab fa-instagram"></i> binhorodriguesl
      </a>
    </span>
  </div>
</footer>
