<nav class="navbar">
    <img src="/assets/3.png" alt="Logo" class="logo" />
    <div class="nav-links">
        <a routerLink="/" routerLinkActive="active"><i class="fas fa-puzzle-piece"></i> Home</a>
        <a routerLink="espaco" routerLinkActive="active"><i class="fas fa-puzzle-piece"></i> Espaços</a>
        <a routerLink="servicos" routerLinkActive="active"><i class="fas fa-puzzle-piece"></i> Serviços</a>
        <a routerLink="sobre" routerLinkActive="active"><i class="fas fa-puzzle-piece"></i> Sobre</a>
        <a routerLink="endereco" routerLinkActive="active"><i class="fas fa-puzzle-piece"></i> Endereço</a>
        <a routerLink="contato" routerLinkActive="active"><i class="fas fa-puzzle-piece"></i> Fale Conosco</a>
    </div>
</nav>