<nav class="navbar">
    <img src="/assets/logosemfundo.png" alt="Logo" class="logo" />
    <div class="nav-links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="espaco" routerLinkActive="active">Espaços</a>
        <a routerLink="servicos" routerLinkActive="active">Serviços</a>
        <a routerLink="sobre" routerLinkActive="active">Sobre</a>
        <a routerLink="equipe" routerLinkActive="active">Equipe</a>
        <a routerLink="contato" routerLinkActive="active">Fale Conosco</a>
    </div>
</nav>